anyascii==0.3.3
certifi==2025.8.3
charset-normalizer==3.4.3
colorama==0.4.6
defusedxml==0.7.1
filelock==3.19.1
fsspec==2025.7.0
h5py==3.14.0
huggingface-hub==0.34.4
idna==3.10
Jinja2==3.1.6
langdetect==1.0.9
MarkupSafe==3.0.2
ml_dtypes==0.5.3
mpmath==1.3.0
networkx==3.5
numpy==2.2.6
onnx==1.19.0
opencv-python==4.12.0.88
packaging==25.0
pika==1.3.2
pillow==11.3.0
protobuf==6.32.0
pyclipper==1.3.0.post6
pypdfium2==4.30.0
python-doctr==1.0.0
PyYAML==6.0.2
RapidFuzz==3.14.0
requests==2.32.5
scipy==1.16.1
shapely==2.1.1
six==1.17.0
sympy==1.14.0
torch==2.8.0
torchvision==0.23.0
tqdm==4.67.1
typing_extensions==4.15.0
urllib3==2.5.0
validators==0.35.0
--extra-index-url https://download.pytorch.org/whl/cpu
